<div>
  <div id="toolbar" class="btn-group">
    <button type="button" class="btn btn-default">
      <i class="glyphicon glyphicon-plus"></i>
    </button>
  </div>

  <bs-table id="vtable"
  data-search="true"
  data-show-refresh="true"
  data-show-toggle="true"
  data-show-columns="true"
  data-pagination="true"
  data-toolbar="#toolbar"
  data-height="450"
  >
  <th data-field="name" data-sortable="true">Name</th>
  <th data-field="stargazers_count">Stars</th>
  <th data-field="forks_count">Forks</th>
  <th data-field="description">Description</th>
  <th data-field="action">Action</th>
  </bs-table>
</div>
