<span>
  <div class="container-fluid">
    <ul class="list-group">
      <li class="list-group-item" style="background-color: #eeeeee">
      User
      <span class="pull-right">
        <button data-toggle="modal" data-target="#add" @click="defUser">Add</button>
      </span>
      </li>
      <li class="list-group-item" v-for="item in list">
      <div class="col-xs-2">{{item.name}}</div>
      <span class="label label-default" data-toggle="tooltip" title="password">{{item.password}}</span>
      <span class="label label-info" data-toggle="tooltip" title="role">{{item.role}}</span>
      <span class="pull-right">
        <button type="button" data-toggle="modal" data-target="#edit" @click="user=JSON.parse(JSON.stringify(item))">Edit</button>
        <span class="dropdown">
          <button class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            ...
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li>
            <a href="" @click="delUser(item.name)" style="cursor:pointer;">delete</a>
            </li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">other</li>
            <li><a href="">...</a>
            </li>
          </ul>
        </span>
      </span>
      </li>
    </ul>
  </div>

  <modal id="add" @ok="add">
  <h4 slot="header">Add User</h4>
  <form class="form-group" style="max-width: 330px;padding: 15px;margin: 0 auto;">
    <input type="text" class="form-control" placeholder="Name" v-model="user.name" required autofocus>
    <input type="text" class="form-control" placeholder="Password" v-model="user.password" required autofocus>
    <select class="form-control" v-model="user.role" required>
      <option>guest</option>
      <option>user</option>
      <option>admin</option>
    </select>
  </form>
  </modal>

  <modal id="edit" @ok="update">
  <h4 slot="header">Update User</h4>
  <form class="form-group" style="max-width: 330px;padding: 15px;margin: 0 auto;">
    <input type="text" class="form-control" placeholder="Name" v-model="user.name" required disabled>
    <input type="text" class="form-control" placeholder="Password" v-model="user.password" required autofocus>
    <select class="form-control" v-model="user.role" required>
      <option>guest</option>
      <option>user</option>
      <option>admin</option>
    </select>
  </form>
  </modal>
</span>
