<span>
  <h4>modal example!</h4>
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  demo
</button>

<modal id="myModal" @ok="$alert('['+subject+']'+message)" @event="$alert($event)">
   <form>
     <div class="form-group">
       <label for="subject" class="control-label">Subject</label>
       <input type="text" class="form-control" v-model="subject">
     </div>
     <div class="form-group">
       <label for="message" class="control-label">Message</label>
       <textarea class="form-control" v-model="message"></textarea>
     </div>
   </form>
</modal>


</span>
