<div>
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Example</a>
      </div>
      <div id="navbar-collapse" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <router-link :to="{name:'demo-list'}" tag="li"><a>List</a></router-link>
          <router-link :to="{name:'demo-table'}" tag="li"><a>Table</a></router-link>
          <router-link :to="{name:'demo-alert'}" tag="li"><a>Alert</a></router-link>
        </ul>
        <form class="navbar-form navbar-right">
          <a href="" @click="logout">logout</a>
        </form>
      </div>
    </div>
  </nav>
  <div class="container">
    <component v-bind:is="container">
    </component>
  </div>
</div>
